.navbar, footer {
    background-color: #07575b;
}

.jumbotron, #projects, #contact {
    background-color: #c4dfe6;
}

section {
    padding-top: 5rem;
}

.gallery-img {
    width: 100%;
}

#gallery .row > * {
    padding: 0;
}

svg {
    margin-bottom: -0.1rem;
}